[Unit]
Description=Globe daemon
After=network.target

[Service]
Type=forking
PIDFile=%h/.globe/globe.pid
ExecStart=%h/globecore/globed -daemon -pid=%h/.globe/globe.pid -conf=%h/.globe/globe.conf -datadir=%h/.globe

StartLimitInterval=120s
StartLimitBurst=1

Restart=on-failure
TimeoutStopSec=600

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target
